/* Color theme of Horiseon's website is white on blue on a lightgrey background */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

h1 {
    display: inline-block;
    font-size: 48px;
}

.seo {
    /* Made S.E.O. Search engine optimization stand out more */
    text-decoration: underline;
}

/* Navigation bar in top right corner, included as part of the header */
/* sub-element of header */
nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    list-style-type: square;
}

/* sub-element of header */
.header div ul {
    list-style-type: none;
} 

/* sub-element of header */
nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sub-element of header */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Websites main image, located between header and main */ 
#hero-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
} 

/* Main content of website */
main {  
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* sub-element of main section */
.content-description  {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sub-element of main section */
.content-description h2  {
    margin-bottom: 20px;
    font-size: 36px;
}

/* sub-element of main section */
.section-art {
    max-height: 200px;
}

/* sub-element of main section */
.float-left {
    float: left;
    margin-right: 25px;
}

/* sub-element of main section */
.float-right {
    float: right;
    margin-left: 25px;
}

/* The side section of the website */
aside { 
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sub-element of aside section */
figure { 
    margin-bottom: 32px;  
}

/* sub-element of aside section */
h3 {
    margin-bottom: 10px;
    text-align: center; 
}

/* sub-element of aside section */
figure img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}